a:link, a:visited {
    
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}
.a{
	 background-color: gray;
}
.b{
	height:160px;
	width:1000px;
}
div.e{
	
	text-align:center;
	background:magenta;
}
.log{
	text-align:center;
}
div.blog{
	margin-top:40px;
	background-color: gray;
}
.tb1 {
	width:500px;
	
	margin-top:800px;

}

